.antCollapseBox {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  margin-bottom: 10px;
}

.manualForm {
  display: flex;
  width: 80%;
  gap: 20px;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-left: 50px;
  margin-bottom: 10px;
}
